#!/bin/bash

alias al="alias"

al ..="cd .."
al ...="..;.."
al ....="...;.."
al -- -="cd -"
al clr="clear"
al dsk="cd ~/Desktop"
al doc="cd ~/Documents"
al dwn="cd ~/Downloads"
al g="git"
al ga="g add ."
al gc="g commit -m"
al gcl="g clone"
al gl="g log"
al go="g remote add origin"
al gp="g push origin"
al gpl="g pull origin"
al gr="grep"
al gs="g status"
al gsh="g stash"
al ifc="ifconfig"
al ipt="iptables"
al l="ls -l"
al la="l -a"
al mx="dig -t MX +short"
al nc="ncat"
al ns="netstat"
al pic="cd ~/Pictures"
al py="python"
al rr="rm -rf"
al sudo="sudo " # allow aliases to be sudo'ed
al tcp="tcpdump"
al tel="telnet"
al trc="traceroute"
