#!/bin/bash -e

function dec() {
  if [[ -z "$1" ]]
  then
    echo "Usage: dec /path/to/thing"
    exit 1
  fi

  base="$(basename "$(basename "$1" .gpg)" .zip)"
  dir="$(dirname "$1")"
  cd "$dir"

  if [[ -f "$base.gpg" ]]
  then
    echo "Decrypting $base.gpg"
    gpg --output "$base" --decrypt "$base.gpg"
    rm "$base.gpg"
  elif [[ -f "$base.zip.gpg" ]]
  then
    echo "Decrypting $base.zip.gpg"
    gpg --output "$base.zip" --decrypt "$base.zip.gpg"
    rm "$base.zip.gpg"

    echo "Unzipping $base.zip"
    unzip "$base.zip"
    rm "$base.zip"
  else
    echo "No $base.gpg or $base.zip.gpg file!"
    exit 1
  fi
}

function enc() {
  if [[ -z "$1" ]]
  then
    echo "Usage: enc /path/to/thing"
    exit 1
  fi

  base="$(basename "$1")"
  dir="$(dirname "$1")"
  cd "$dir"

  if [[ -d "$base" ]]
  then
    echo "Zipping $base directory"
    zip -r "$base.zip" "$base"
    rm -r "$base"
    base="$base.zip"
  fi

  if [[ -f "$base" ]]
  then
    echo "Encrypting $base"
    gpg --symmetric "$base"
    gpgconf --reload gpg-agent
    rm "$base"
  else
    echo "No file or directory $base!"
  fi
}

function rec() {
  if [[ -z "$1" ]]
  then
    echo "Usage: recrypt /path/to/thing"
    exit
  fi

  dec "$1"

  read -p "Press enter to re-encrypt..."

  dir="$(dirname "$1")"
  base="$(basename "$(basename "$1" .gpg)" .zip)"

  enc "$dir/$base"
}
